{
    "extends": [
        "airbnb",
        "prettier",
        "prettier/react"
    ],
    "plugins": [
        "prettier"
    ],
    "parser": "babel-eslint",
    "env": {
        "node": true,
        "browser": true,
        "es6": true
    },
    "rules": {
        "quotes": [
            2,
            "single",
            {
                "avoidEscape": true,
                "allowTemplateLiterals": true
            }
        ],
        "prettier/prettier": [
            "error",
            {
                "trailingComma": "es5",
                "singleQuote": true,
                "printWidth": 120
            }
        ],
        "jsx-a11y/href-no-hash": "off",
        "react/jsx-filename-extension": 0,
        "strict": 0,
        "react/prop-types": 0
    }
}